@import '../src/common/colors.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: $font-primary;
}
body {
    background: $primary-color;
}
.container {
    margin: 0px 40px;
}

.paginate-container{
    color: white;
    background-color: #29323c;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

.paginate-item{
    font-weight: lighter;
    color: #b5babe;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    transition: .3s ease-in-out;
    margin: 0 10px;
}

.paginate-item:hover{
    color: white;
    transform: scale(1.5);
    transition: all 0.3s;
    
    a{
        font-weight: bold;
        color: rgb(165, 165, 45);  
    }
}

.paginate-active-item{
    font-weight: bolder;
    transform: scale(1.5);
    transition: all 0.3s;
    border: 1px solid white;
    padding: 0px 2px;

    a {
        color: grey;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}

.paginate-previous{
    margin-right: 10px;
    cursor: pointer;
}

.paginate-next{
    margin-left: 10px;
    cursor: pointer;
}

.paginate-break{
    font-weight: lighter;
    line-height: 10px;
    cursor: pointer;
}

.paginate-disabled{
    color: #485563;
    cursor: not-allowed;
}